p {
    text-align: justify;
}

.details {
    width: auto;
    height: auto;
    box-shadow: 1px 1px 1px 1px rgb(220, 218, 235); 
    /* margin-top: 1%; */
    margin-bottom: 2%;
    padding: 2%;
}

#population {
    width: 30%;
    float: left;
    box-shadow: 1px 1px 1px 1px rgb(220, 218, 235); 
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 10px;
    padding: 2%;
    
}

#climate {
    width: 68%;
    float: right;
    box-shadow: 1px 1px 1px 1px rgb(220, 218, 235); 
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 2%;
}

/* #graphArea {
    width: auto;
    height: auto;
    float: left;
    box-shadow: 5px 5px 5px 5px rgb(220, 218, 235); 
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10px;
    padding: 2%;
    
} */

#graphAgeStructureCountryDetailsPage, #employment_details_data, #expenditures_data {
    width: auto;
    height: auto;
    float: left;
    box-shadow: 1px 1px 1px 1px rgb(220, 218, 235); 
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 10px;
    padding: 2%;
}

#gdp_by_sector_data, .InfantMortalityRateGraph, .UnemploymentRateGraph {
    width: auto;
    height: auto;
    float: left;
    box-shadow: 1px 1px 1px 1px rgb(220, 218, 235); 
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 10px;
    padding: 2%;
}


/* .CountryDetails .indicators {
    width: auto;
    height: auto;
    float: left;
    box-shadow: 1px 1px 1px 1px rgb(220, 218, 235); 
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 10px;
    padding: 2%;
} */



.religions, 
.border_countries, 
.language_spoken {
    width: 100%;
    height: auto;
    float: left;
    box-shadow: 1px 1px 1px 1px rgb(220, 218, 235); 
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 10px;
    padding: 2%;
}

.population_below_poverty_line, 
.nationality, 
.land_boundary_in_km, 
.natural_resources, 
.population_growth_rate, 
.birth_rate, 
.death_rate, 
.net_migration_rate,
.exports,
.imports, 
.energy_production_latest_not_trend,
.energy_consumption_latest_not_trend,
.energy_imports_latest_not_trend,
.energy_exports_latest_not_trend {
    width: 370px;
    height: auto;
    float: left;
    box-shadow: 1px 1px 1px 1px rgb(220, 218, 235); 
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 10px;
    padding: 2%;
}


