.countryblock {
    width: auto;
    height: auto;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-top: 2%;
}

.countryTable {
    float: left;
    width: auto;
    height: auto;
    padding: 2%;
    margin-left: 1%;
    font-size: 20px;
}