.yearDropdown {
    float: right;
    margin-top: 2%;
}
.firstRowEnergy{
    margin-left: 0;
}

#MoreEnergyInsightsCountryHeader {
    margin-left: 10%;
}


.moreInfo-ul > li {
    list-style-type: disc;
    margin-left: 12%;
    text-align: justify;
    font-size: 18px;
    width: 70%;
    margin-top: 20px;
}

.moreInfo-ol > li {
    list-style-type: circle;
    margin-left: 12%;
    text-align: justify;
    font-size: 16px;
    width: 70%;
    margin-top: 20px;
}

.moreInfo {
    margin-top: 3%;
}