.dropdown {
    float: right;
    margin-left: 50%;
    margin-top: 39px;
}

#MoreEnergyInsightsCountryHeader {
    margin-left: 11%;
}


.moreInfo-ul > li {
    list-style-type: disc;
    margin-left: 12%;
    text-align: justify;
    font-size: 16px;
    width: 70%;
    margin-top: 20px;
}

.moreInfo-ol > li {
    list-style-type: circle;
    margin-left: 12%;
    text-align: justify;
    font-size: 14px;
    width: 70%;
    margin-top: 20px;
}

.moreInfo {
    margin-top: 5%;
}